@model Dotflix.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinopse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinopse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Relevance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Relevance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RunTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RunTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MovieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
